############
## Project
############

vendor
composer.lock
./index.php
assets/*
views/*
*~


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


############
## Vagrant
############
.vagrant/*


############
## PHPStorm
############
.idea/*

############
## npm
############
node_modules/*
